.gastosContent{
    width: 100%;
    max-width: 50%;
}

.gastoBasalContent{
    margin: 1em auto;
}

.gastoBasalContent h3,
.gastoDiarioContent h3{
    font-size: 2em;
}

.gastoBasalContent p,
.gastoDiarioContent p{
    margin: 0.5em ;
    font-size: 1.1em;
}

.gastoBasalContent span,
.gastoDiarioContent span{
    font-weight: bold;
}

.gastoBasalContent ul,
.gastoDiarioContent ul{
    list-style-type: none;
    list-style-position: outside;
    margin: 0 2em;
}

.gastoBasalContent ul li,
.gastoDiarioContent ul li{
    font-weight: normal;
}

.gastoDiarioContent{
    border-top: 1px solid #000;
    margin: 2em auto;
}

@media screen and (max-width:1000px){
    .gastosContent{
        max-width: 100%;
    }
}