.formularioContent{
    max-width: max-content;
    margin:auto;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.caixasContent,
.listasContent{
    margin: 0 1em;
}

button{
    margin: 0 1em;
    width: 100%;
    max-width: 200px;
    font-size: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    padding: 7px;
    transition: 0.4s;
    border: 1px solid #000;
}

button:hover{
    transform: translateY(-5px);
    box-shadow: 3px 5px 10px rgba(0,0,0, 0.5);
}

button:active{
    background-color: #000;
    color: #f5f5f5;
    transition: 0s;
}

.dadosContent{
    padding: 1em 0;
}

.dadosContent h2{
    text-transform: capitalize;
    font-size: 3em;
    text-align: center;
}

.dadosResultadoContent{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin: 2em;
}

.dadosBasicosContentForm,
.dadosCalculadosContentForm,
.dadosAdicionaisContentForm{
    margin: 0 3em;
}

.nomeIdadeContent,
.pesoAlturaContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nomeIdadeContent .inputContent:nth-child(1){
    width: 400px;
}

.nomeIdadeContent .inputContent:nth-child(2),
.pesoAlturaContent .inputContent:nth-child(2),
.pesoAlturaContent .inputContent:nth-child(3){
    width: 130px;
    margin: 0 1em;
}

.atividadesContent{
    width: 600px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.botaoContent{
    margin: 2em 0;
}

@media screen and (max-width:1000px){
    .formularioContent{
        display: flex;
        flex-direction: column;
    }

    button{
        margin: 1em 0 2em 0;
    }

    .dadosResultadoContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dadosBasicosContentForm,
    .dadosCalculadosContentForm,
    .dadosAdicionaisContentForm{
        margin: 1em 0;
    }

}